[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Commotion Mesh Applet
Comment=Graphical applet for managing Commotion Wireless connections
Description=Graphical applet for managing Commotion Wireless connections
Icon=/usr/share/icons/hicolor/scalable/apps/commotion.svg
Exec=/usr/lib/gnome-applets/commotion-mesh-applet
Terminal=false
StartupNotify=true
Categories=System;Monitor;GTK;
