Source: commotion-mesh-applet
Section: gnome
Priority: extra
Maintainer: Hans-Christoph Steiner <hans@eds.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
#Homepage: <insert the upstream URL, if relevant>

Package: commotion-mesh-applet
Architecture: all
Depends: nm-dispatcher-olsrd,
         ${shlibs:Depends},
         ${misc:Depends},
         python,
         gir1.2-gtk-3.0 | python-gtk2,
         gir1.2-panelapplet-4.0 | python-gnomeapplet | libmatepanelapplet,
         gnome-icon-theme | mate-icon-theme,
         gnome-panel | mate-panel
Recommends: network-manager-gnome
Description: represent the state of an olsrd mesh connection
 This GNOME 2.x/3.x panel applet will show the status of an olsrd mesh
 connection, and provide easy access to debug information and mesh profiles.
